---
http_interactions:
- request:
    method: get
    uri: http://www.nicovideo.jp/api/nicorepo/timeline/my/all?client_app=pc_myrepo&cursor=1498914141852000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Niconico-Id:
      - '32411'
      X-Niconico-Authflag:
      - '3'
      X-Niconico-Sid:
      - '1498986800.1284522165'
      Content-Type:
      - application/x-javascript; charset=utf-8
      Content-Language:
      - ja
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200,"maxId":"1498914141852-d0cfdbb65cbfc7769f82525541aa97b65d3e403d","minId":"1498872678297-9dcec19547cfb46573d7bffe75aedaafac032c46","impressionId":"bd6ba5f8-7b64-44c0-b7e4-89a435d5d568","clientAppGroup":"nicorepo","_limit":25},"data":[{"id":"1498914141852-d0cfdbb65cbfc7769f82525541aa97b65d3e403d","topic":"live.user.program.onairs","createdAt":"2017-07-01T22:02:21.852+09:00","isVisible":true,"isMuted":false,"isDeletable":false,"muteContext":{"sender":{"idType":"user","id":"10790254","type":"user"},"trigger":"program.live_user_program_onairs"},"senderNiconicoUser":{"nickname":"PiTaPo","id":10790254,"icons":{"tags":{"defaultValue":{"urls":{"s50x50":"https:\/\/secure-dcdn.cdn.nimg.jp\/nicoaccount\/usericon\/s\/1079\/10790254.jpg?1368685369"}}}}},"actionLog":[],"community":{"name":"PiTaPo\u306e\u304a\u90e8\u5c4b","id":"co1864483","thumbnailUrl":{"small":"http:\/\/icon.nimg.jp\/community\/s\/186\/co1864483.jpg?1495106521"}},"program":{"id":"lv301838448","beginAt":"2017-07-01T22:02:19.000+09:00","isPayProgram":false,"thumbnailUrl":"http:\/\/icon.nimg.jp\/community\/186\/co1864483.jpg?1495106521","title":"L4D2\u306f\u3058\u3081\u307e\u3057\u305f"}},{"id":"1498913335847-a0affa6b698e326cbd7a005d74952fedff00be26","topic":"nicovideo.user.video.kiriban.play","createdAt":"2017-07-01T21:48:55.847+09:00","isVisible":true,"isMuted":false,"isDeletable":false,"muteContext":{"sender":{"idType":"user","id":"1690523","type":"user"},"trigger":"video.nicovideo_user_video_kiriban_play"},"senderNiconicoUser":{"nickname":"\u3082\u3084\u3057\u3057\u3083\u3082","id":1690523,"icons":{"tags":{"defaultValue":{"urls":{"s50x50":"https:\/\/secure-dcdn.cdn.nimg.jp\/nicoaccount\/usericon\/s\/169\/1690523.jpg?1479523828"}}}}},"actionLog":{"viewCount":100000,"kiriban":100000},"video":{"id":"sm31481503","resolution":{"width":960,"height":540},"status":"PUBLIC","thumbnailUrl":{"normal":"http:\/\/tn-skr4.smilevideo.jp\/smile?i=31481503"},"title":"\u3010VOICEROID\u5b9f\u6cc1\u3011\u5f26\u5dfb\u30de\u30ad\u3068\u7d50\u6708\u3086\u304b\u308a\u306e\u672a\u78ba\u8a8d\u30b2\u30fc\u30e0\u65e5\u548c\u3000#38","videoWatchPageId":"sm31481503"}},{"id":"1498913014825-5ea8fab2687b5a9a2590c1be7ac47f5dfd5e3708","topic":"live.user.program.onairs","createdAt":"2017-07-01T21:43:34.825+09:00","isVisible":true,"isMuted":false,"isDeletable":false,"muteContext":{"sender":{"idType":"user","id":"587960","type":"user"},"trigger":"program.live_user_program_onairs"},"senderNiconicoUser":{"nickname":"kei_\u5de5\u9b54\u30af\u30e9\u30d5\u30c8","id":587960,"icons":{"tags":{"defaultValue":{"urls":{"s50x50":"https:\/\/secure-dcdn.cdn.nimg.jp\/[...]
- request:
    method: post
    uri: https://secure.nicovideo.jp/secure/login
    body:
      encoding: UTF-8
      string: mail=<MAIL>&password=<PASSWORD>
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      X-Niconico-Authflag:
      - '0'
      - '0'
      X-Niconico-Sid:
      - '1498988402.1048487369'
      - '1498988402.304572599'
      Location:
      - https://secure.nicovideo.jp/secure/
      Content-Language:
      - ja
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 02 Jul 2017 09:40:02 GMT
- request:
    method: get
    uri: http://www.nicovideo.jp/api/nicorepo/timeline/my/all?client_app=pc_myrepo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Niconico-Id:
      - '32411'
      X-Niconico-Authflag:
      - '3'
      X-Niconico-Sid:
      - '1498988402.1055374612'
      Content-Type:
      - application/x-javascript; charset=utf-8
      Content-Language:
      - ja
    body:
      encod[...]
[...]
